/* ========== import font source ========== */
@import "fonts.css";

/* ========== import custom styles ========== */
@import "custom-styles.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* ========== tailwind custom styles ========== */
@layer components {
  body {
    @apply bg-light dark:bg-dark px-8 md:px-6;
  }
  .container {
    @apply max-w-[1200px] mx-auto;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-outfit;
  }
  h1 {
    @apply text-6xl sm:text-8xl main-heading;
  }
  h2 {
    @apply text-xl font-semibold;
  }
  p,
  li,
  a {
    @apply font-inter text-dark-gray;
  }
  .footer-icons {
    @apply dark:text-light flex items-center border border-dark dark:border-light p-4 rounded-lg justify-center;
  }
}

.circle {
  border: 2px solid transparent;
  border-radius: 100px;
  border-style: double;
  border-color: #33d2ff;
  width: 155px;
  height: 155px;
  position: absolute;
}

.circle-small {
  border: 2px solid transparent;
  border-radius: 100px;
  border-style: double;
  border-color: #33d2ff;
  width: 100px;
  height: 100px;
  position: absolute;
}

.circle-medium {
  width: 150px;
  height: 150px;
}

