---
import type { IInterests, ISkills } from "@types";
import React from "react";

//const { title, details } = Astro.props as IInterests;

export const elements = [
	"Frontend",
	"Backend",
	"DevOps",
	"Design",
	"Other",
	"Frontend",
	"Backend",
	"DevOps",
	"Design",
	"Other",
];
---

<section
	class="flex items-start justify-between flex-col sm:flex-row dark:text-light mt-16"
>
	<h2 class="w-[15rem] mb-16">TITLE</h2>

	<div class="w-full grid grid-cols-10 gap-y-10 text-center">
        {elements.map((element, index) => (
          <div class={`border col-start-${(index % 5) * 2 + 1} col-span-2`}>
            {(index % 5) * 2 + 1}
          </div>
        ))}
      </div>

	<!-- <div class="w-full grid flex-shrink grid-cols-10 gap-y-10 text-center">
		<div class="border col-start-1 col-span-2">Élément 1</div>
		<div class="border col-start-5 col-span-2">Élément 2</div>
		<div class="border col-start-9 col-span-2">Élément 3</div>
	  
		<div class="border col-start-3 col-span-2">Élément 4</div>
		<div class="border col-start-7 col-span-2">Élément 5</div>

		<div class="border col-start-1 col-span-2">Élément 6</div>
		<div class="border col-start-5 col-span-2">Élément 7</div>
		<div class="border col-start-9 col-span-2">Élément 8</div>
	  </div>
	</div> -->
</section>
