---
import type { IInterests, ISkills } from "@types";

//const { title, details } = Astro.props as IInterests;

export const titles = [
	"Frontend",
	"Backend",
	"DevOps",
	"Design",
	"Other",
	"Frontend",
	"Backend",
	"DevOps",
	"Design",
	"Other",
];
---

<section
	class="flex items-start justify-between flex-col sm:flex-row dark:text-light mt-16"
>
	<h2 class="w-[15rem] mb-16">TITLE</h2>
	<div class="w-full grid grid-cols-5 gap-4">
		{
			titles.map((title, index) => (
				<div class={`border col-start-${(index * 2) % 5 + 1}`}>
					{(index * 2) % 5 + 1}
				</div>
			))
		}

		<!-- <div class={`border col-start-${number}`}>01</div>
    <div class="border col-start-3 ...">02</div>
    <div class="border col-start-1 ...">03</div>
    <div class="border col-start-1 col-end-7 ...">04</div> -->
	</div>
</section>
